@model NetEngCore403.Entities.Movie
@using NetEngCore403.Entities;

@{
    ViewData["Title"] = "CreateMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateMovie</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateMovie" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control">
                    <option value="@MovieGenre.Comedy">Comedy</option>
                    <option value="@MovieGenre.Drama">Drama</option>
                    <option value="@MovieGenre.Fantasy">Fantasy</option>
                    <option value="@MovieGenre.Thriller">Thriller</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" type="date" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImdbUrl" class="control-label"></label>
                <input asp-for="ImdbUrl" class="form-control" />
                <span asp-validation-for="ImdbUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorId" class="control-label">Direcor Name</label>
                <select asp-for="DirectorId" class="form-control">
                    @foreach (var director in ((List<NetEngCore403.Entities.Director>)ViewBag.DirectorList))
                    {
                        <option value="@director.Id">@director.FullName</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
